:root{
    --branco-principal:#FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal:'Inter';
    --botao-azul-efeito :#0752ad;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-fundo);
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image:url(background.jpeg);
    background-size: contain;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
   background-color: var(--botao-azul);
   border-radius:5px ;
   padding: 1em;
   color:var(--branco-principal);
   display: block;
   text-decoration: none;
   margin-bottom: 1em;
}

.bota_secundario{
    background-color: transparent;
    border:2px solid var(--cinza-secundario);

}

.container__aviso {
    font-size: 26px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}


.secundario__imagem{
    width: 70%;
}

.secundario{
    align-items: center;
    margin: 0 6em;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px; ;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color:var(--cinza-secundario) ;
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
    padding: 2em;
}
.container__descricao {
    padding: 2em;

}

.terciario__imagem {
    width: 80%;
}
.terciario {
    align-items: center;
    margin: 1em;
}
.descricao__segundotitulo {
    font-size: 70px;
    font-weight: 700;
    color: var(--branco-principal);
}

.dispositivos__lista {
    display:flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

Contrato de assinatura
Politica de privacidade
Proteção de dados no Brasil 
.dispositivos {
    text-align: center;
    color: var(--branco-principal);
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);

}
.lista__item {
    font-size: 30px;
    color: var(--branco-principal);
}

.rodape__lista {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.rodape__texto{
    color: var(--branco-principal);
}
.rodape {
    text-align: center;
    margin: 0 3em;

}
.rodape__logo{
    margin-bottom: 2em;
}
.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a:active{
    color: purple;
}
.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);

}